Django
django-ckeditor
django-ckeditor-5
django-crispy-forms
django-debug-toolbar
django-dotenv
django-environ
django-social-share
django-static-fontawesome
django-taggit
gunicorn
Pillow
psycopg2-binary
django-import-export
django-jazzmin
django-tailwind
django-allauth